body {
  font-family: "jetbrains mono";
  color: #d59bf6;
  justify-content: left;
  margin-top: 7%;
}
footer {
  display: block;
  position: static;
  padding: 25px;
  text-align: center;
}
input::placeholder {
  font-family: "jetbrains mono";
  color: #1e6262;
}

.container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
  background-color: #8ef6e4;
  position: relative;
  height: 500px;
  width: 500px;
  border: solid 5px #3a9b9b4f;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 10px 10px 10px #8988f1;
  margin: 0 auto;
}
.current-city {
  display: inline;
  margin-bottom: 40px;
  color: #8988f1;
  font-size: 38px;
  font-weight: 900;
  padding: 20px;
  text-shadow: 2px 3px 5px #ffffffd4;
}
.current-temperature {
  color: #1e6262;
  background-color: #ffffff60;
  display: block;
  justify-content: left;
  border: solid 5px #3a9b9b98;
  font-size: 80px;
  padding: 0px;
  text-shadow: 5px 5px 5px #41af9b;
  position: absolute;

  border-radius: 15px;
  box-shadow: 10px 10px 10px #8988f1;
}
.form-container {
  grid-column: 1/6;
  grid-row: 1/2;
}
.header {
  color: #8988f1;
  padding: 0;
  margin: 0;
  text-shadow: 2px 3px 5px #ffffffd4;
}
.humidity {
  color: #d59bf6;
}
.main-body {
  margin-top: 40px;
  grid-row: 1/6;
  grid-column: 1/4;
}

.search-city-button {
  float: right;
  margin-top: -43px;
  position: relative;
}
.search-city-button:hover {
  width: 81px;
  height: 41px;
  background-color: #1e6262;
  transition: all 300ms linear;
}

.weather-forecast-day {
  font-size: 18px;
  font-weight: 900;
}

.weather-forecast-icon {
  width: 48px;
  display: block;
}

.weather-forecast-temp-max {
  margin-top: 80px;
  font-size: 16px;
  font-weight: 900;
}

.weather-forecast-temp-min {
  display: flex;
  margin-top: -20px;
  font-size: 16px;
}

.weather-forecast-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: solid 5px #3a9b9b98;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #8988f1;
  padding: 5px;
}
.wind-speed {
  color: #d59bf6;
}

#conditions {
  display: block;
  font-size: 18px;
  color: #1e6262;
}
#condition-description {
  color: #d59bf6;
}
#date-and-time {
  font-size: 22px;
  color: #1e6262;
}

#forecast {
  display: grid;
  grid-template-columns: 80px 80px;
  grid-template-rows: 80px 80px 80px;
  column-gap: 15px;
  row-gap: 45px;
  grid-row: 1 /3;
  grid-column: 3/5;
  text-align: center;
  margin: 80px;
  padding: 20px;
}
#form-search-city {
  border: solid 3px #3a9b9bd2;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #8988f1;
  height: 28px;
  padding: 5px;
  position: relative;
  text-align: center;
  width: 400px;
}
#humidity {
  color: #d59bf6;
}

#search-city-button {
  background-color: #8988f1;
  border: solid 3px #ffffff;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #0ab190d4;
  color: white;
  display: block;

  font-family: "jetbrains mono";
  height: 40px;

  padding: 5px;

  width: 80px;
}

#weather-icon {
  font-size: 28px;
  margin-left: 82px;
  margin-top: 36px;
  position: relative;
}

#wind-speed {
  color: #d59bf6;
}
