body {
  font-family: "jetbrains mono";
  color: #d59bf6;
  justify-content: left;
  margin-top: 7%;
}
footer {
  display: block;
  position: static;
  padding: 25px;
  text-align: center;
}
input::placeholder {
  font-family: "jetbrains mono";
  color: #1e6262;
}

.container {
  background-color: #8ef6e4;
  box-sizing: border-box;

  border: solid 5px #3a9b9b4f;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 10px #8988f1;
}
.main-body {
  display: grid;
  grid-template-columns: max-content 800px;
}

.current-temperature {
  color: #1e6262;
  background-color: #ffffff60;
  display: block;
  justify-content: left;
  border: solid 5px #3a9b9b98;
  font-size: 80px;
  padding: 0px;
  text-shadow: 5px 5px 5px #41af9b;
  position: absolute;
  margin-top: 140px;
  border-radius: 7px;
  box-shadow: 10px 10px 10px #8988f1;
}
.header {
  color: #8988f1;
  padding: 0;
  margin: 0;
  text-shadow: 2px 3px 5px #ffffffd4;
}
.current-city {
  display: block;

  color: #8988f1;
  font-size: 38px;
  font-weight: 900;
  padding: 10px;
  text-shadow: 2px 3px 5px #ffffffd4;
}
#form-search-city {
  display: inline-block;
  border: solid 3px #3a9b9bd2;
  box-shadow: 5px 5px 5px #8988f1;
  padding: 5px;
  text-align: center;
  width: 400px;
  height: 28px;
  position: sticky;
  border-radius: 5px;
}
.search-city-button {
  box-shadow: 5px 5px 5px #0ab190d4;
  color: white;
  border: solid 3px #ffffff;
  background-color: #8988f1;
  border-radius: 5px;
  font-family: "jetbrains mono";
  height: 28px;
  margin: 0 0 0;
  padding: 5px;
  width: 80px;
  height: 40px;
}

.search-city-button:hover {
  width: 81px;
  height: 41px;
  background-color: #1e6262;
  transition: all 300ms linear;
}

#date-and-time {
  font-size: 22px;
  color: #1e6262;
}

#weather-icon {
  display: inline-block;
  margin-left: -140px;
  margin-top: 15px;
  font-size: 100px;
}

.hidden-elements {
  color: transparent;
}

#conditions {
  display: block;
  margin-top: 120px;
  font-size: 18px;
  color: #1e6262;
}

.humidity {
  color: #d59bf6;
}

.wind-speed {
  color: #d59bf6;
}
#humidity {
  color: #d59bf6;
}

#wind-speed {
  color: #d59bf6;
}

#condition-description {
  color: #d59bf6;
}
